name: Config Validation

'on':
    workflow_dispatch:
    schedule:
        -
            cron: '0 7 * * 1-5'
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    validate:
        runs-on: ubuntu-latest
        steps:
            -
                uses: actions/checkout@v6.0.1
            -
                uses: actions/setup-node@v6.1.0
                with:
                    node-version: latest
            -
                run: npx --yes --package renovate -- renovate-config-validator --strict default.json
